<div class="container">
  <h1>Re<strike>n</strike>owned</h1>
  <p>Upcycled Clothing</p>
  <a class="btn" href="">Shop Now</a>
</div>

<div class="text-center">
  <p>Trade, Upcycle and Repurpose Clothes</p>
  <p>A market-place for thrifters and creatives to come together. Donate pieces of clothing or request personalisation, we have a use for everything! </p>
  <p>Our mission is to encourage our generation to be mindful of waste, and to reduce waste.</p>
</div>

<div class="trends">

</div>

{{outlet}}
