<div class="nav-bar">
  <div class="nav-list">
    <ul>
      {{#link-to 'home'}}Home{{/link-to}}
      {{#link-to 'womens'}}Womens{{/link-to}}
      {{#link-to 'mens'}}Mens{{/link-to}}
      {{#link-to 'accessories'}}Accessories{{/link-to}}
      {{#link-to 'about-us'}}About Us{{/link-to}}
      {{#link-to 'contact-us'}}Contact Us{{/link-to}}
    </ul>
  </div>

</div>
{{yield}}
